body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px
}

img{
    width: 500px !important;
}