.telo{
    width: 80vw; /*vw - viditelná část prohlížeče*/
    height: 400px;
    border: 1px solid black;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.radek{
    display: flex;
    justify-content: space-evenly;
}

.blok1{
    width: 25%;
    height: 100px;
    background-color: magenta;
}
.blok2{
    width: 25%;
    height: 100px;
    background-color: blue;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1{
    position: absolute;
    top: 0;
    right: 0;
}