.telo{
    width: 80vw; /*vw - viditelná část šířky obrazovky/prohlížeče*/
    height: 400px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.radek{
    display: flex;
    justify-content: space-evenly;
}

.blok1{
    width: 25%;
    height: 100px;
    background-color: blue;
}
.blok2{
    width: 25%;
    height: 100px;
    background-color: magenta;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /*dovoluje nám použít celou viditelnou plochu stránky pro body*/
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

h1{
    position: absolute;
    top: 0;
    right: 0;
}