body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img{
    width: 400px !important;
}