h1{
    color: darkblue;
    text-transform: uppercase;
}
h2{
    font-size: 22px;
    font-style: italic;
}
p{
    background-color: yellow;
    text-align: center;
    font-weight: 900;
}
strong{
    color: red;
    text-decoration: underline;
}